.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.modal-dialog {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
}

.modal-backdrop {
  display: none;
}